*, *::before, *::after {
  box-sizing: border-box;
}

.mainContainer {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 64px;
}

.dataContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 600px;
}

.header {
  text-align: center;
  font-size: 32px;
  font-weight: 600;
}

.bio {
  text-align: center;
  color: gray;
  margin-top: 16px;
}

.connectButton {
  cursor: pointer;
  margin-top: 16px;
  padding: 8px;
  border: 0;
  border-radius: 5px;
  
}


.waveButton {
  cursor: pointer;
  width: 200px;
  height: 40px; 
  border: 0;
  border-radius: 5px;
  background-color: bisque;
  
}

.inputField{
  font-size: 14px;
  position: relative;
  --field-padding: 12px;
}

.inputField input:focus + .placeholder {
  top: -10px;
  font-size: 10px;
  color: #222;
}

.inputField input {
  border: none;
  -webkit-appearance: none;
  -ms-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: #f2f2f2;
  padding: 12px;
  border-radius: 3px;
  width: 250px;
  font-size: 14px;
  padding: var(--field-padding);
}

.inputField .placeholder {
  position: absolute;
  left: 12px;
  bottom: 50%;
  top: 22px;  
  transform: translateY(-50%);
  width: calc(100% - 24px);  
  color: rgb(137, 134, 134);
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  left: var(--field-padding);
  width: calc(100% - (var(--field-padding) * 2));
}

